.answer-container {
  /* dimension correlate with questions component */
  width: 50%;
  height: 412px;
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  padding-left: 3%;
  flex: 1 40%
}

.answer-form {
  margin-top: 43px
}

fieldset {
  border: 0;
}

legend { 
  color: white;
  font-size: 0.8em;
  padding: 5px 10px;
  background: rgb(205, 44, 46);
}

.jishou {
  width: 92%;
  display: flex;
  justify-content: flex-end;
  font-size: 3em;
  margin-top: 3%; 
}

.jishou-link {
 text-decoration: none;
 line-height: 20px;
 color: rgb(66, 127, 141);
 text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.jishou-kanji {
  margin: 0;
}

.dictionary {
  color: white;
  margin-top: 20px;
  background: rgb(66, 127, 141);
  font-size: 0.2em;
  text-shadow: none;
  text-align: center;
}


  