.dashboard {
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-flow: row wrap;
  justify-content: flex-end;
}

@media all and (min-width: 640px) {
  .dashboard {
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-flow: row nowrap;
  }
}