.footer-bar {
  display: flex;
  align-self: flex-end;
  flex: 1 1 1%;
}

.next  {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: rgb(205, 44, 46);
  outline: 0;
  color: white;
  position: relative;
  top: 40px;
  right: -05px
}

@media all and (min-width: 608px) {
  .next  {
    font-size: 1.2em;
    height: 100px;
    width: 100px;
    right: 10%
  }
}

@media all and (min-width: 756px) {
  .next  {
    font-size: 1.2em;
    height: 100px;
    width: 100px;
    right: 50%
  }
}
