.footer-bar {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  flex: 1 1 1%;;
}

.next  {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: rgb(205, 44, 46);
  outline: 0;
  color: white;
  position: relative;
  top: 50%;
  margin-right: 20px;
  font-size: 1em;

}

@media all and (min-width: 450px) {
  .next  {
    font-size: 1em;
    height: 90px;
    width: 90px;
    /* right: 20% */
  }
}

@media all and (min-width: 740px) {
  .next  {
    font-size: 1.2em;
    height: 120px;
    width: 120px;
    /* right: 50% */
  }
}
