.header-bar {
  display: flex;
  padding: 5px 15px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.site-name {
  display: flex;
  align-items: center;
  color: rgb(205, 44, 46);
  text-decoration: none;
  margin: 0
}

.logo {
  display: inline-block;
  background: rgb(205, 44, 46);
  color: white;
  margin-right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 0.8em;
  line-height: 35px;
  align-self: center;
  text-align: center;
}

.nav-button {
  display: flex;
  align-items: center;
}

.login,
.signup,
.logout,
.setting {
  position:relative;
  vertical-align: middle;
  color: black;
  display: inline-block;
  height: 30px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  transition:0.5s;
  border: 1px solid black;
  font-size: 0.6em;
  width: 80px;
  outline: none;
}

.login {
  margin-right: 15px;
  margin-left: 5px;
}

.login:hover,
.setting:hover {
  border: 1px solid rgb(205, 44, 46);
  color: rgb(205, 44, 46)
}

.signup:hover,
.logout:hover {
  border: 1px solid rgb(205, 44, 46);
  color: rgb(205, 44, 46)
}

.setting,
.logout {
  width: 70px;
}

.setting {
  margin-right: 5px
}

@media all and (min-width: 580px) {
  .login,
  .signup,
  .setting,
  .logout {
    font-size: 0.7em;
    width: 100px;
  }
}