.login-signup-title {
  flex: 1 100%;
  color: white;
  font-size: 2em;
  line-height: 60px
}

.login-page {
  align-items: center
}

.login-container {
  background: rgba(120, 165, 174, 0.9);
  width: 400px
}