.vocab-container {
  width: 90%;
  padding-bottom: 10px;
  /* background: white; */
  border: 1px white solid;
  text-align: center;
  margin-left: 10%;
  margin-top: 12px
}

.vocab {
  font-size: 2.6em;
}