.vocab-container {
  width: 90%;
  padding-bottom: 10px;
  /* background: white; */
  border: 1px white solid;
  text-align: center;
  position: relative;
  left: 14%;
  top: 5%
}

.vocab {
  font-size: 2.6em;
}